.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}

.navbar .logo {
    width: 160px;
    height: auto;
}

@media (max-width: 768px) {
    .navbar .logo {
        width: 120px;
    }
}

@media (max-width: 480px) {
    .navbar .logo {
        width: 100px;
    }
}

.navbar .profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
